---
layout: layout.liquid
---

<h2>Thoughts</h2>
<ul class="posts">
  {%- for post in collections.post -%}
    <li>
      <span class="date">{{ post.date | date: "%Y.%m.%e" }}</span>
      <a href="{{ post.url }}">{{ post.data.title }}</a>
    </li>
  {%- endfor -%}
</ul>