@font-face {
  font-family: "Fira Sans";
  src: url("/fonts/FiraSans-Regular.ttf"), url("/fonts/FiraSans-Italic.ttf"),
    url("fonts/FiraSans-SemiBold.ttf"),
    url("fonts/FiraSans-SemiBold-Italic.ttf"), url("fonts/FiraSans-Bold.ttf"),
    url("fonts/FiraSans-Bold-Italic.ttf");
}

:root {
  --main-color: #2e2e2e;
  --light-color: #c9bb9a;
  --highlight-color: #e46b4c;
  --background-color: #f4eedd;
  --main-color-dark: #e6ebf0;
  --light-color-dark: #697083;
  --highlight-color-dark: #63df94;
  --background-color-dark: #262937;
  --transition-speed: 100ms;
}

body {
  color: var(--main-color);
  font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
  font-size: 1em;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  transition: background-color var(--transition-speed);
}

h1 {
  font-size: 1.5em;
  font-weight: 500;
  margin: 1em 0;
}

h2 {
  font-size: 1.2em;
  font-weight: normal;
  margin: 1em 0;
}

h3 {
  font-size: 1em;
  font-weight: bold;
  margin: 1em 0;
}

p {
  font-size: 1em;
  font-weight: normal;
  margin: 1em 0;
  line-height: 2em;
}

a {
  color: var(--main-color);
  text-decoration: underline;
}

a:hover {
  color: var(--highlight-color);
}

input[type=text] {
  color: var(--main-color);
  font-size: 0.8em;
  border: 0.1rem solid var(--light-color);
  border-radius: 0.5rem;
  background: none;
  width: 15rem;
  height: 1.8rem;
  padding: 0 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

input[type=text]:focus {
  border-color: var(--main-color);
  outline: none;
}

input::placeholder {
  color: var(--light-color);
}

input[type=submit] {
  color: var(--background-color);
  font-size: 0.8em;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--light-color);
  height: 2rem;
  padding: 0 0.5rem;
}

input[type=submit]:hover {
  background-color: var(--main-color);
}

input[type=submit]:active {
  background-color: var(--light-color);
}

#container {
  padding: 5em 0;
  width: 35em;
}

@media (max-width: 40em) {
  #container {
    padding: 2em 0;
    width: 100%;
  }

  #header {
    padding: 0 2em;
  }

  #content {
    padding: 0 2em;
  }
}

#header {
  display: flex;
  margin-bottom: 4em;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

#name {
  font-size: 1.4em;
}

#name > a {
  color: var(--main-color);
  text-decoration: none;
}

.return {
  color: var(--light-color);
  font-size: 0.8em;
}

.subtitle {
  color: var(--light-color);
  display: inline-block;
}

#links {
  display: inline-flex;
  align-items: center;
  height: 2em;
}

#links a {
  display: inline-block;
  color: var(--light-color);
  text-decoration: none;
  margin: 0 0.8em;
}

#links a:hover {
  color: var(--main-color);
}

#light-mode {
  display: inline-block;
  width: 2rem;
  height: 1rem;
  border: 0.1rem solid var(--light-color);
  border-radius: 1rem;
  margin-left: 0.8rem;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}

#light-switch {
  font-size: 0.6rem;
  display: block;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  margin: 0;
  text-align: center;
  user-select: none;
  pointer-events: none;
  -webkit-user-select: none;
  cursor: pointer;
}

#light-switch.left::before {
  content: "☀️";
}

#light-switch.left {
  margin-left: 0;
  transition: margin-left var(--transition-speed);
}

#light-switch.right::before {
  content: "🌙";
}

#light-switch.right {
  margin-left: 1rem;
  transition: margin-left var(--transition-speed);
}

#content .section-top {
  padding-bottom: 3em;
}

#content .section {
  border-top: var(--light-color) solid 0.1em;
  padding: 3em 0;
}

#content ul.posts {
  list-style-type: none;
  padding: 0;
  margin: 1em 0;
}

#content ul.posts li {
  font-size: 1.2em;
  margin: 0.5em 0;
  padding: 0;
}

.date {
  float: left;
  color: var(--light-color);
  margin-right: 1em;
  width: 5em;
}

a.title {
  color: var(--main-color);
  text-decoration: none;
}

a.title:hover {
  color: var(--highlight-color);
}

a.tag {
  font-size: 0.8em;
  text-decoration: none;
  color: var(--light-color);
  border: 0.1rem solid var(--light-color);
  border-radius: 1em;
  padding: 0.1em 0.5em;
  margin-right: 0.5em;
}

a.tag:hover {
  color: var(--main-color);
  border-color: var(--main-color);
}

.profile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: none;
  align-items: start;
}

.profile-text {
  display: inline-block;
  margin-right: 2em;
}

.profile-pic {
  display: inline-block;
  width: 5em;
  height: 5em;
  margin-top: 1em;
}

.profile-pic img {
  width: 5em;
  height: 5em;
  border-radius: 2.5em;
}
