body.dark {
  color: var(--main-color-dark);
  background-color: var(--background-color-dark);
}


body.dark .date {
  color: var(--light-color-dark);
}

body.dark a {
  color: var(--main-color-dark)
}

body.dark a:hover {
  color: var(--highlight-color-dark);
  text-shadow: var(--highlight-color-dark) 0 0 0.5em;
}

body.dark input[type=text] {
  color:var(--main-color-dark);
  border-color: var(--light-color-dark)
}

body.dark input[type=text]:focus {
  border-color: var(--main-color-dark);
}

body.dark input::placeholder {
  color: var(--light-color-dark);
}

body.dark input[type=submit] {
  color: var(--background-color-dark);
  background-color: var(--light-color-dark);
}

body.dark input[type=submit]:hover {
  background-color: var(--main-color-dark);
}

body.dark input[type=submit]:active {
  background-color: var(--light-color-dark);
}

body.dark #name > a {
  color: var(--main-color-dark);
}

body.dark #name > a:hover {
  text-shadow: none;
}

body.dark .return {
  color: var(--light-color-dark);
}

body.dark .subtitle {
  color: var(--light-color-dark);
  display: inline-block;
}

body.dark #links a {
  color: var(--light-color-dark);
  text-shadow: none;
}

body.dark #links a:hover {
  color: var(--main-color-dark);
}

body.dark #light-mode {
  border-color: var(--light-color-dark);
}

body.dark #content .section {
  border-top: var(--light-color-dark) solid 0.1em;
}

body.dark a.title {
  color: var(--main-color-dark);
}

body.dark a.title:hover {
  color: var(--highlight-color-dark);
}

body.dark a.tag {
  color: var(--light-color-dark);
  border-color: var(--light-color-dark);
}

body.dark a.tag:hover {
  color: var(--main-color-dark);
  border-color: var(--main-color-dark);
  text-shadow: none;
}
