<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/bundle.css" />
    <title>
      {% if title %}
        {{ title }} —
      {% endif %}Austin Gatchell
    </title>
    <script src="/script.js"></script>
  </head>
  <body>
    <div id="container" class="mobile">
      <div id="header">
        <div id="name">
          <a href="/">Austin Gatchell
            {% if title %}
              <span class="return">↩</span>
            {% endif %}
          </a>
        </div>
        <div id="links">
          <span class="subtitle">this is where i keep all my stuff</span>
          <div id="light-mode" onclick="switchTheme()">
            <div id="light-switch" class="left">️</div>
          </div>
        </div>
      </div>
      <div id="content">
        <div class="section-top">
          {{ content }}
        </div>
        <div class="section">
          <div class="profile">
            <div class="profile-text">
              <h2>Who are you?</h2>
              <p>
                My name is Austin Gatchell. I'm just a person on the internet
                who makes things every now and again. You can find me on
                <a href="https://www.youtube.com/channel/UCEwLXASG3EejpjRO1ktTvcQ">YouTube</a>,
                <a href="https://twitter.com/ausgat" title="not X">Twitter</a>,
                and
                <a href="https://github.com/ausgat">GitHub</a>
                if you're interested.
              </p>
            </div>
            <div class="profile-pic"><img src="/me.jpeg" alt="Picture of Austin Gatchell's face" /></div>
          </div>
          <form action="" method="get">
            <input
              type="text"
              name="email"
              id="email"
              placeholder="Subscribe to my newsletter"
              required />
            <input type="Submit" value="This button does nothing" />
          </form>
        </div>
      </div>
    </div>
  </body>
</html>