<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style.css" />
  <title>{{ if title then title + " &em; " end }}Austin Gatchell</title>
  <script src="/script.js"></script>
</head>
<body>
  <div id="container" class="mobile">
    <div id="header">
      <div id="name">Austin Gatchell</div>
      <div id="links">
        <span class="subtitle">Note: nothing here is real just yet</span>
        <div id="light-mode" onclick="switchTheme()">
          <div id="light-switch" class="left">️</div>
        </div>
      </div>
    </div>
    <div id="content">
      <div class="section-top">
        <h2>Thoughts</h2>
        <ul class="posts">
          <li>
            <span class="date">2023.10.11</span><a href="#">Small data</a>
          </li>
          <li>
            <span class="date">2023.10.6</span
            ><a href="#">Are you sure about this?</a>
          </li>
          <li>
            <span class="date">2023.10.3</span><a href="#">Walkable cities</a>
          </li>
          <li>
            <span class="date">2023.9.25</span
            ><a href="#">The book that started it all</a>
          </li>
          <li>
            <span class="date">2023.9.19</span
            ><a href="#">Thriving in a warming climate</a>
          </li>
          <li>
            <span class="date">2023.9.12</span><a href="#">Also, mosquitos</a>
          </li>
          <li>
            <span class="date">2023.9.5</span
            ><a href="#">A philosophical treatise on gnats</a>
          </li>
          <li>
            <span class="date">2023.9.2</span
            ><a href="#">The story of the pilfered pickle</a>
          </li>
          <li>
            <span class="date">2023.8.30</span><a href="#">On psych meds</a>
          </li>
          <li>
            <span class="date">2023.8.23</span
            ><a href="#">What if birds were real?</a>
          </li>
          <li><span class="date">2023.8.19</span><a href="#">A start</a></li>
        </ul>
      </div>
      <div class="section">
        <div class="profile">
          <div class="profile-text">
            <h2>Who are you?</h2>
            <p>
              My name is Austin Gatchell, and I'm just a person on the internet.
              I make things every now and again.
            </p>
          </div>
          <div class="profile-pic"><img src="/me.jpeg" /></div>
        </div>
      </div>
      <div class="section">
        <h2>I like you</h2>
        <p>
          Thanks. I'm on <a href="https://twitter.com/ausgat">Twitter</a> and
          <a href="https://github.com/ausgat">GitHub</a> if you want more of me.
        </p>
        <form action="" method="get">
          <input
            type="text"
            name="email"
            id="email"
            placeholder="Subscribe to my newsletter"
            required
          />
          <input type="Submit" value="Subscribe" />
        </form>
      </div>
    </div>
  </div>
</body>
