@media (max-width: 40em) {
  html, body {
    overflow-x: hidden;
  }

  #container {
    padding: 2em 0;
    width: 100%;
  }

  #header {
    padding: 0 2em;
  }

  #content {
    padding: 0 2em;
  }

  .subtitle {
    display: none;
  }

  body.light .subtitle {
    display: none;
  }
}
