@font-face {
  font-family: "Fira Sans";
  src: url("/fonts/FiraSans-Regular.ttf"), url("/fonts/FiraSans-Italic.ttf"),
    url("fonts/FiraSans-SemiBold.ttf"),
    url("fonts/FiraSans-SemiBold-Italic.ttf"), url("fonts/FiraSans-Bold.ttf"),
    url("fonts/FiraSans-Bold-Italic.ttf");
}

:root {
  --main-color: #2e2e2e;
  --light-color: #c9bb9a;
  --highlight-color: #e46b4c;
  --background-color: #f4eedd;
  --main-color-dark: #e6ebf0;
  --light-color-dark: #697083;
  --highlight-color-dark: #63df94;
  --background-color-dark: #262937;
  --transition-speed: 100ms;
}

body {
  color: var(--main-color-dark);
  font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
  font-size: 1em;
  background-color: var(--background-color-dark);
  display: flex;
  justify-content: center;
  transition: background-color var(--transition-speed);
}

h1 {
  font-size: 1.8em;
  font-weight: 500;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5em;
  font-weight: normal;
  margin: 2rem 0 1rem 0;
}

h3 {
  font-size: 1.2em;
  font-weight: normal;
  margin: 2rem 0 1rem 0;
}

p {
  font-size: 1em;
  font-weight: normal;
  margin: 1rem 0;
  line-height: 2em;
}

a {
  color: var(--main-color-dark);
  text-decoration: underline;
}

a:hover {
  color: var(--highlight-color-dark);
  text-shadow: var(--highlight-color-dark) 0 0 0.5em;
}

input[type=text] {
  color: var(--main-color-dark);
  font-size: 0.8em;
  border: 0.1rem solid var(--light-color-dark);
  border-radius: 0.5rem;
  background: none;
  width: 15rem;
  height: 1.8rem;
  padding: 0 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

input[type=text]:focus {
  border-color: var(--main-color-dark);
  outline: none;
}

input::placeholder {
  color: var(--light-color-dark);
}

input[type=submit] {
  color: var(--background-color-dark);
  font-size: 0.8em;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--light-color-dark);
  height: 2rem;
  padding: 0 0.5rem;
}

input[type=submit]:hover {
  background-color: var(--main-color-dark);
}

input[type=submit]:active {
  background-color: var(--light-color-dark);
}

#container {
  padding: 5em 0;
  width: 35em;
}

#header {
  display: flex;
  margin-bottom: 4em;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

#name {
  font-size: 1.4em;
  flex-shrink: 0;
}

#name > a {
  color: var(--main-color-dark);
  text-decoration: none;
}

#name > a:hover {
  text-shadow: none;
}

.mini-text {
  color: var(--light-color-dark);
  font-size: 0.8em;
}

.subtitle {
  color: var(--light-color-dark);
  display: inline-block;
}

.top-h {
  margin-top: 0;
}

#links {
  display: inline-flex;
  align-items: center;
  height: 2em;
}

#links a {
  display: inline-block;
  color: var(--light-color-dark);
  text-decoration: none;
  margin: 0 0.8em;
}

#links a:hover {
  color: var(--main-color-dark);
  text-shadow: none;
}

#light-mode {
  display: inline-block;
  flex-shrink: 0;
  width: 2rem;
  height: 1rem;
  border: 0.1rem solid var(--light-color-dark);
  border-radius: 1rem;
  margin-left: 0.8rem;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}

#light-switch {
  font-size: 0.6rem;
  display: block;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  margin: 0;
  text-align: center;
  user-select: none;
  pointer-events: none;
  -webkit-user-select: none;
  cursor: pointer;
}

#light-switch.left::before {
  content: "☀️";
}

#light-switch.left {
  margin-left: 0;
  transition: margin-left var(--transition-speed);
}

#light-switch.right::before {
  content: "🌙";
}

#light-switch.right {
  margin-left: 1rem;
  transition: margin-left var(--transition-speed);
}

#content .section-top {
  padding-bottom: 3em;
}

#content .section {
  border-top: var(--light-color-dark) solid 0.1em;
  padding: 3em 0;
}

#content ul.posts {
  list-style-type: none;
  padding: 0;
  margin: 1em 0;
}

#content ul.posts li {
  display: flex;
  font-size: 1.2em;
  line-height: 1.2em;
  margin: 0.5em 0;
  padding: 0;
}

.date {
  color: var(--light-color-dark);
  margin-right: 1em;
  width: 5em;
  flex-shrink: 0;
}

a.title {
  color: var(--main-color-dark);
  text-decoration: none;
}

a.title:hover {
  color: var(--highlight-color-dark);
}

a.tag {
  font-size: 0.8rem;
  text-decoration: none;
  color: var(--light-color-dark);
  line-height: 1rem;
  border: 0.1rem solid var(--light-color-dark);
  border-radius: 0.8rem;
  padding: 0.1rem 0.5rem;
  margin-right: 0.5rem;
}

a.tag:hover {
  color: var(--main-color-dark);
  border-color: var(--main-color-dark);
  text-shadow: none;
}

.profile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: none;
  align-items: start;
}

.profile-text {
  display: inline-block;
  margin-right: 2em;
}

.profile-pic {
  display: inline-block;
  flex-shrink: 0;
  width: 5em;
  height: 5em;
  margin-top: 1em;
}

.profile-pic img {
  position: absolute;
  width: 5em;
  height: 5em;
  border-radius: 2.5em;
  transition: all var(--transition-speed);
}

.profile-pic img:hover {
  width: 8em;
  height: 8em;
  margin-left: -1.5em;
  margin-top: -1.5em;
  border-radius: 4em;
  box-shadow: 0 0.5em 2em rgba(0, 0, 0, 0.2) ;
  transition: all var(--transition-speed);
}

.floating-technology {
  float: right;
  left: 5rem;
  margin-left: -5rem;
  animation: floating-technology 5s ease-in-out infinite;
}

.floating-technology img {
  width: 15rem;
  height: 15rem;
}

@keyframes floating-technology {
  0% { transform: translate(5rem, 0rem); }
  50% { transform: translate(5rem, 1rem); }
  100% { transform: translate(5rem, -0rem); }
}
